body {
    background-color: rgb(254,254,254);
}

.header {
    text-align: center;
    padding: 20px 0;
    margin: 0 -15px;
    font-size: 56px;
    text-shadow: -5px 5px 0 rgba(0,0,0,0.1);
}

.footer {
    margin: 36px -14px 0 -14px ;
}

.login-container {
    text-align: center;
}

.login-container .row .col-sm-3 {
    display: inline-block;
    float: none;
}

.login-container .row.logo {
    margin-bottom: 50px;
}

.login-container .row.username,
.login-container .row.password {
    margin-bottom: 20px;
}

.login-container .row.username span ,
.login-container .row.password span {
    font-size: 12px;
    color: rgb(244, 92, 66);
}

.login-container .row.submit button {
    background-color: rgb(87, 104, 252);
    width: 100%;
}
