body {
    background-color: rgb(254,254,254);
    height:100%;
}

.main {
    position: relative;
}

.header {
    text-align: center;
    padding: 20px 0;
    margin: 0 -15px;
    font-size: 56px;
    text-shadow: -5px 5px 0 rgba(0,0,0,0.1);
}

.footer {
    margin: 36px -14px 0 -14px ;
    width: 100%;
    position: absolute;
    text-align: center;
}

.footer img {
    width: 120px;
}

.footer em {
    font-size: 14px;
}

.user-container {
    text-align: center;
}

.user-container .row > div {
    display: inline-block;
    float: none;
}

.user-container .row.logo {
    margin-bottom: 50px;
}

.user-container .row.email,
.user-container .row.password,
.user-container .row.rePassword {
    margin-bottom: 20px;
}

.user-container .row.submit button {
    background-color: rgb(51, 122, 183);
    width: 100%;
}

.user-container .row.password .forget-password {
    position: absolute;
    font-size: 12px;
    right: 32px;
    top: 10px;
}

.user-container .row.password .forget-password a {
    color: rgb(169, 166, 163);
}

.user-container .row.password .forget-password a:hover {
    color: rgb(107, 107, 107);
    text-decoration: none;
}

.user-container .row.register span {
    font-size: 14px;
    color: rgb(169, 166, 163);
}

.user-container .row.register span:first-child {
    font-size: 12px;
}

.user-container .row {
    position: relative;
}

.user-container .row span.msg {
    position: absolute;
    left: 62%;
    top: 10px;
    font-size: 12px;
    color: rgb(244, 92, 66);
}

.user-container .row span.msg i {
    font-size: 18px;
    margin-right: 4px;
}

.user-container .row span.msg i.fa-check-circle {
    color: rgb(63, 189, 148);
}

.user-container .row span.msg i.fa-times-circle {
    color: rgb(244, 92, 66);
}

.user-container .row.progress-bar > div {
    float: inherit;
    display: inline-block;
    margin-bottom: 50px;
}

.user-container .row.register-ok p {
    color: rgb(244, 92, 66);
}

.user-container .row.register-ok p i {
    font-size: 18px;
    margin-right: 4px;
}

.user-container .row.register-ok h4 i {
    font-style: inherit;
    color: rgb(168, 168, 168);
}

.user-container .row.divider div {
    border-top: .0625rem solid #e4e4e4;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 0;
}

.user-container .row.divider span {
    display: inline-block;
    position: relative;
    padding: 0 .75rem;
    top: -10px;
    background: #fff;
}

.user-container .row.desc {
    margin-top: 60px;
}


.border {
    border: 1px solid rgb(164, 164, 164);
}

.user-center-content{
    margin-left: 12%;
    display: flex;
}

.user-center-container a{
    text-decoration: none;
    color: gray;
}

.user-center-container a:hover{
    text-decoration: none;
}

.user-center-container .navbar{
    border-radius: 0;
    height: 70px;
    line-height: 50px;
    border-bottom: 1px solid rgb(164, 164, 164);
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -40px;
}

.user-center-container .navbar-brand{
    font-size: 20px;
}

.user-center-container .logo{
    height: 60px;
    width: 96px;
    float: left;
    margin-right: 30px;
}

.user-center-content h4,p{
    margin: 0!important;
    padding: 0;
}

.user-center-content h4{
    font-size: 18px;
}

.user-center-content .des, .user-center-content .emailadress{
    font-size: 14px;
}

.user-center-content .main_left{
    width: 27%;
    margin-top: 40px;
}

.user-center-content .main_left .head{
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-center-content .head>div>p{
    width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.user-center-content .menus>section.border{
    margin-top: 50px;
}

.user-center-content .img_1 {
    width: 60px;height: 60px;
    margin-right: 40px;
    margin-left: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.user-center-content .img_2 {
    height: 60px;
    width: 60px;
    margin-right: 40px;
    border-radius: 5px;
}

.user-center-content label{
    color: grey;
    font-size: 15px;
    font-weight: bold;
}

.user-center-content .head{
    height: 90px;
}

.user-center-content .border{
    font-weight: bold;
    text-align: center;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    margin-top: 15px;
}


.user-center-content .main_right{
    padding: 20px 30px;
    width: 45%;
    margin-left: 10%;
    margin-top: 40px;
    border: 1px solid rgb(164, 164 ,164);
}

.user-center-content li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.user-center-content .perinfo{
    margin-bottom: 30px!important;
}

.user-center-content .control-label{
    text-align: left!important;
}

.user-center-content .form-control{
    height: 35px!important;
}

.user-center-container .row span.msg {
    position: absolute;
    right:10%;
    top: 40px;
    font-size: 12px;
    color: rgb(244, 92, 66);
    white-space: nowrap;
    width: 250px;
    text-align: right;
}

/*修改提示信息*/
.user-center-content .row span.msg .fa {
    position: absolute;
    left: 106%;
    top: -32px;
}

@media (min-width: 768px){
    .user-center-content .main_right .form-group .avatar-label {
        padding-top: 25px;
    }
    .user-center-content .info-group .col-sm-8 {
        width: 70%;
        margin-left: -4%;
    }
    .user-center-content .btn, .user-center-content input {
        max-width: 284px;
    }
    .user-center-content .info-group .col-sm-3 {
        width: 30%;
    }
    .user-center-content .form-horizontal .control-label {
        padding-top: 7px;
        margin-bottom: 0;
        /*可有可无?*/
        text-align: right;
    }
    .user-center-content .info-group .col-sm-offset-2 {
        margin-left: 26%;
    }
    .user-center-content .submit>.col-sm-8 {
        margin-left: 26%;
    }
}

@media (max-width: 964px){
    .user-center-content label{
        font-size: 14px;
    }
}
@media (max-width: 922px){
    .user-center-content label{
        font-size: 13px;
    }
}
@media (max-width: 880px){
    .user-center-content label{
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    .user-center-content .main_left {
        display: none;
    }
    .user-center-content .main_right {
        width:70%;
    }
    .user-center-content input, .user-center-content .btn {
        max-width: 250px;
    }
    .user-center-content .main_right .form-group .avatar-label {
        padding-top: 25px;
    }
    .user-center-content .form-horizontal .control-label {
        padding-top: 7px;
        margin-bottom: 0;
        text-align: right;
    }
    .user-center-content .info-group .col-sm-offset-2 {
        margin-left: 30%;
    }
    .user-center-content .info-group .col-sm-3 {
        width: 30%;
    }
    .user-center-content label{
        font-size: 15px;
    }
    .user-center-content .submit>.col-sm-8 {
        margin-left: 30%;
    }
}
@media (max-width: 575px){
    .user-center-content .info-group .col-sm-offset-2 {
        margin-left: 0;
    }
    .user-center-content .info-group .col-sm-offset-2 {
        width:100%;
    }
    .user-center-content .submit>.col-sm-8 {
        margin-left: 0;
    }
    .user-center-container .row span.msg {
        position: absolute;
        right: 28%;
        top: 70px;
        font-size: 12px;
        color: rgb(244, 92, 66);
        width: 150px;
        white-space: nowrap;
    }
    .user-center-container .info-group .col-sm-3 {
        width: 200px;
    }
    .user-center-content .row span.msg .fa {
        position: absolute;
        left: 145%;
        top: -32px;
    }
}
.user-center-content .submit>.col-sm-8>.btn {
    height: 35px;
}

.user-center-content .btn-lg {
    min-width: 120px;
    padding: 9px 16px;
}

.user-center-content p.loginaccount{
    font-size: 19px;
    font-weight: bold;
}


.user-center-content ul li{
    position: relative;
}

.user-center-content .btn-primary {
    background-color: rgb(51,122,183);
}

.user-center-content .row {
    margin-bottom: 25px;
}
.user-center-content .row {
    position: relative;
}

.user-center-content .row span.msg i {
    font-size: 18px;
    margin-right: 4px;
}

.user-center-content .row span.msg i.fa-check-circle {
    color: rgb(63, 189, 148);
}

.user-center-content .row span.msg i.fa-times-circle {
    color: rgb(244, 92, 66);
}

.user-center-content .modal-body img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    margin-right: 34px;
    margin-left: 8px;
    margin-top: 10px;
}

.user-center-content .modal-body img:hover {
    -moz-box-shadow: 1px 2px 40px 1px #d3d3d3;
    -webkit-box-shadow: 1px 2px 40px 1px #d3d3d3;
    box-shadow: 1px 2px 40px 1px #d3d3d3;
}

.user-center-content .modal-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

